html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* This will disable scrolling */
    height: 100%; /* This ensures that the body takes up the full viewport height */
    width: 100%; /* This ensures that the body takes up the full viewport width */
}

body {
    background: url('./App/ASSETS/landing.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100vh;
}

/* ... additional CSS styles ... */


#content {
    text-align: right;
    margin-right: 20px;
}

#get_started_button {
    width: 358px; /* Width of the button */
    height: 104px; /* Height of the button */
    background: #0b464e; /* Background color of the button */
    border: none;
    border-radius: 52px; /* Half the height will make it a perfect pill shape */
    box-shadow: -3px 4px 2px 4px rgba(100, 100, 100, 0.5);
    position: absolute; /* Positioning it absolutely to the top right corner */
    top: 85px; /* Adjust the space from the top */
    right: 125px; /* Adjust the space from the right */
    text-decoration: none;  
}

#get_started_text {
    color: #ffffff; /* Text color */
    font-family: Poppins, sans-serif;
    font-size: 30px; /* Font size */
    font-weight: 600;
    line-height: 104px; /* This should match your button height to vertically center the text */
    text-align: center; /* Center the text horizontally */
}
