body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0B464E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.logo {
    font-size: 48px; /* Original larger size */
    font-weight: 900;
    color: #ffffff;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-name {
    color: white;
    margin-bottom: 10px; /* Space between profile name and nav links */
    margin-right: 54px; /* Adjust this to align with the navbar's end */
    font-size: 16px; /* Adjust font size as needed */
}

.nav-links {
    display: flex;
    padding-right: 40px; /* Adjust as necessary */
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #255763;
    border-radius: 4px;
}

.main-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transaction-container {
    display: flex;
    justify-content: space-between;
}

.form-and-notes-container {
    flex-basis: 48%;
}

.order-summary-container {
    flex-basis: 48%;
    background-color: #ebcdab;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-section {
    margin-bottom: 15px;
}

.form-section:last-child {
    margin-bottom: 0;
}

.form-section h3 {
    color: #0B464E;
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

input[type="text"]:focus, textarea:focus {
    border-color: #0B464E;
    outline: none;
}

.payment-mode-selection {
    margin-top: 20px;
}

.payment-mode-selection p {
    margin-bottom: 10px;
    color: #0B464E;
}

.payment-mode-selection label {
    display: block;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

button.place-order-btn {
    background-color: #0B464E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button.place-order-btn:hover {
    background-color: #255763;
}

.site-footer {
    background-color: #0B464E;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
}
